.col-md-12{
    padding: 0px;
}
.image_2{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.document{
    text-align: justify;
    flex: auto;
    font-size: 15px;
    width: 100%;
}
